* {
  background-color: #201c1c;
}
*.light-mode,
#visores.light-mode,
#portero.light-mode {
  background: rgb(255, 255, 255);
}
#botones.light-mode {
  background-color: #ffffff;
}
button.light-mode,
#portero.light-mode,
input.light-mode {
  background-color: #000000;
  color: #f8f8f8;
}
#titulo.light-mode,
#txt.light-mode {
  background-color: #ffffff;
  color: #000000;
}

#titulo {
  color: #ffffff;
  font-family: "Lato", sans-serif;
  font-size: 54px;
  font-weight: 300;
  line-height: 58px;
  text-align: center;
}

button {
  background-color: #f8f8f8;
  font-size: 24px;
  border-radius: 12px;
  width: 100px;
}

#piso {
  border-color: green;
  border-style: solid;
  border-width: 3px;
}

#botones {
  display: grid;
  grid-column-gap: 25px;
  grid-template-columns: auto auto auto;
  padding: 15px;
  grid-gap: 20px 20px;
  background-color: #201c1c;
}

input {
  border-radius: 5px;
  border-color: rgb(255, 255, 255);
  color: white;
  font-size: 20px;
  background-color: #201c1c;
  text-align: center;
}

#visores {
  display: grid;
  grid-template-columns: auto auto;
  padding: 15px;
  grid-gap: 10px 20px;
  background-color: #201c1c;
}

#portero {
  border-radius: 12px;
  background-color: #201c1c;
  color: #201c1c;
  margin: auto;
  padding: 10px;
  display: table;
  border-style: dashed;
  border-color: white;
}

#pie {
  padding: 25px;
  text-align: center;
}

#colormode,
#admin {
  font-size: 15px;
  width: 120px;
  height: 40px;
}

.loginform {
  padding: 16px;
  visibility: hidden;
}

.loginform.on {
  visibility: visible;
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  box-sizing: border-box;
}

.loginform.on input {
  border-radius: 10px;
}
.loginform.on label {
  font-size: 20px;
}
.loginform.on button {
  background-color: #04aa6d;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 10%;
}
